.item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	user-select: none;

	&:global(.pressed):after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 40%;
		aspect-ratio: 1/1;
		transform: translate(-50%, -50%) rotate(45deg);
		display: block;
		content: "";
		background-color: var(--color-red);
		-webkit-mask-image: var(--imageSrc);
		-webkit-mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-image: var(--imageSrc);
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
	}
}

.img {
	width: 40px;
	aspect-ratio: 1/1;
	object-fit: contain;
	vertical-align: bottom;
}

.name {
	text-align: center;
}
