---
interface Props {
	image: ImageMetadata;
}

const { image } = Astro.props;
const imageSrc = `url("${image.src}")`;
---

<button class="soft soft-hover"></button>

<style define:vars={{ imageSrc }}>
	button {
		position: relative;
		width: 40px;
		aspect-ratio: 1/1;
		cursor: pointer;
		vertical-align: top;
		border-radius: 50%;
	}

	button:active {
		box-shadow: var(--soft-pressed-shadow);
	}

	button:after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50%;
		aspect-ratio: 1/1;
		transform: translate(-50%, -50%);
		display: block;
		content: "";
		background-color: #2e2e2e;
		-webkit-mask-image: var(--imageSrc);
		-webkit-mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-image: var(--imageSrc);
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
	}
</style>
