@font-face {
	font-family: "BIZ UDPGothic";
	src: url(/fonts/BIZUDPGothic-Regular.ttf);
	font-display: swap;
}

@layer base {
	* {
		font-family: "BIZ UDPGothic";
		font-size: 17px;
		color: var(--color-primary);
		word-wrap: break-word;
		overflow-wrap: anywhere;
		word-break: break-word;
		word-break: auto-phrase;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		@media (max-width: 700px) {
			font-size: 15px;
		}
	}

	:root {
		--color-primary: #656565;
		--color-black: #656565;
		--color-hide: #c0c0c0;
		--color-red: #d2374f;
		--color-theme: #f76262;
		--color-sub: #6e8334;
		--color-theme-thin: #fddfd6;
		--color-secondary: white;

		@media (prefers-color-scheme: dark) {
			--color-theme: #73b979;
			--color-theme-thin: #5d7c5d;
			--color-sub: #6e8334;
			--color-hide: #122412;
			--color-primary: white;
			--color-secondary: #101210;
		}
	}

	:root {
		background-color: var(--color-secondary);
	}

	html,
	body {
		overflow: hidden;
	}

	html {
		&[data-cursor="grabbing"] {
			cursor: grabbing;

			* {
				cursor: grabbing;
			}
		}

		&[data-cursor="wait"] {
			cursor: wait;

			* {
				cursor: wait;
			}
		}
	}

	a {
		color: #1976d2;
	}

	p {
		line-height: 1.8;
	}

	li {
		line-height: 1.8;
	}
}
