@font-face {
	font-family: "GenJyuuGothicL";
	src: url(/GenJyuuGothicL-Medium.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "GenJyuuGothicL";
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	color: var(--color-black);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
	--color-black: #656565;
	--color-gray: #c0c0c0;
	--color-red: #d2374f;
	--color-orange: #ff8a65;
	--color-orange-thin: #fff3f0;
}

*:focus {
	outline: none;
}

:root {
	background-color: white;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	overflow-y: scroll;
}

ul,
ol {
	padding-block-start: 0;
	padding-block-end: 0;
	padding-inline-start: 40px;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

a {
	color: #1976d2;
}

p {
	line-height: 1.8;
}

li {
	line-height: 1.8;
}
