@layer base {
	* {
		color: var(--color-primary);
		word-wrap: break-word;
		overflow-wrap: anywhere;
		word-break: break-word;
		border: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		@media (max-width: 700px) {
			font-size: 15px;
		}
	}

	:root {
		--color-primary: #656565;
		--color-black: #656565;
		--color-primary-thin: #c0c0c0;
		--color-red: #d2374f;
		--color-theme: #f76262;
		--color-theme-thin: #fddfd6;
		--color-secondary: white;

		@media (prefers-color-scheme: dark) {
			--color-red: #ffb7c2;
			--color-theme: #73b979;
			--color-theme-thin: #5d7c5d;
			--color-primary-thin: #122412;
			--color-primary: white;
			--color-secondary: #3b3b3b;
		}
	}

	:root {
		background-color: var(--color-secondary);
	}

	html {
		&[data-cursor="wait"] {
			cursor: wait;

			* {
				cursor: wait;
			}
		}
	}

	body {
		height: auto;

		&[data-cursor="grabbing"] {
			cursor: grabbing !important;

			* {
				cursor: grabbing !important;
			}
		}
	}

	a {
		color: #1976d2;

		@media (prefers-color-scheme: dark) {
			color: #9cceff;
		}
	}

	p {
		line-height: 1.8;
	}

	li {
		line-height: 1.8;
	}
}
